# Test 2023-07-03 at 03:57:29

name: Test

on:
  push:
    paths:
      - '**.pm'
      - '**pushToGitHub.pl'
      - '**.yml'

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: 'main'

    - name: Memory
      run: |
        free -h
        df   -h
        # Top 100 files might liberate another 8G    sudo find / -type f -exec du -h {} + | sort -rh | head -n 100
        du -h --max-depth=1 . | sort -hr

    - uses: actions/checkout@v3
      with:
        repository: philiprbrenan/DataTableText
        path: dtt

    - name: Cpan
      run:  sudo cpan install -T Data::Dump

    - name: Ubuntu update
      run:  sudo apt update

    - name: Verilog
      run:  sudo apt -y install iverilog

    - name: Verilog Version
      run:  iverilog -V

    - name: Emulator
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib lib/Zero/Emulator.pm

    - name: BubbleSort
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/bubbleSort.pl

    - name: InsertionSort
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/insertionSort.pl

    - name: QuickSort
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/quickSort.pl

    - name: QuickSort Parallel
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/quickSortParallel.pl

    - name: SelectionSort
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/selectionSort.pl

    - name: TestEmulator
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/testEmulator.pl

    - name: BTree
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib lib/Zero/BTree.pm

    - name: TestBTree - last as it is longest
      run:  perl -I$GITHUB_WORKSPACE/dtt/lib examples/testBTree.pl


  fpga:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: 'main'

    - name: Memory
      run: |
        free -h
        df   -h
        # Top 100 files might liberate another 8G    sudo find / -type f -exec du -h {} + | sort -rh | head -n 100
        du -h --max-depth=1 . | sort -hr

    - uses: actions/checkout@v3
      with:
        repository: philiprbrenan/DataTableText
        path: dtt

    - name: Cpan
      run:  sudo cpan install -T Data::Dump
    - name: Ubuntu update
      run:  sudo apt update

    - name: Verilog
      run:  sudo apt -y install iverilog

    - name: Verilog Version
      run:  iverilog -V
    - name: verilog/fpga/tests/memory/memory.sv
      if: ${{ always() }}
      run: |
        rm -f fpga z1.txt; iverilog -Iverilog/ -g2012 -o fpga verilog/fpga/tests/memory/memory.tb verilog/fpga/tests/memory/memory.sv && timeout 1m ./fpga | tee z1.txt; grep -qv "FAILED" z1.txt


  Yosys_memory_:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: 'main'

    - name: Memory
      run: |
        free -h
        df   -h
        # Top 100 files might liberate another 8G    sudo find / -type f -exec du -h {} + | sort -rh | head -n 100
        du -h --max-depth=1 . | sort -hr

    - uses: actions/checkout@v3
      with:
        repository: philiprbrenan/DataTableText
        path: dtt

    - name: Cpan
      run:  sudo cpan install -T Data::Dump
    - name: Yosys
      run:  wget -q https://github.com/YosysHQ/oss-cad-suite-build/releases/download/2023-06-14/oss-cad-suite-linux-x64-20230614.tgz

    - name: Yosys unzip
      run: gunzip  oss-cad-suite-linux-x64-20230614.tgz

    - name: Yosys untar
      run: tar -xf oss-cad-suite-linux-x64-20230614.tar

    - name: Memory fallocate
      run: |
        sudo fallocate -l 20G swapfile
        sudo chmod 600        swapfile
        sudo ls -la           swapfile
        sudo mkswap           swapfile
        sudo swapon           swapfile
        free -h

    - name: Memory fallocate2
      run: |
        sudo fallocate -l  8G /mnt/swapfile2
        sudo chmod 600        /mnt/swapfile2
        sudo ls -la           /mnt/swapfile2
        sudo mkswap           /mnt/swapfile2
        sudo swapon           /mnt/swapfile2
        free -h

    - name: Yosys_memory_
      if: ${{ always() }}
      run: |
        export PATH="$PATH:$GITHUB_WORKSPACE/oss-cad-suite/bin/"
        #yosys -q -d -p "read_verilog -nomem2reg verilog/fpga/tests/memory/memory.sv"
        yosys -q -d -p "read_verilog -nomem2reg verilog/fpga/tests/memory/memory.sv; synth_gowin -top fpga -json verilog/fpga/tests/memory/memory.json"
        nextpnr-gowin -v --debug --json verilog/fpga/tests/memory/memory.json --write verilog/fpga/tests/memory/memory.pnr --device "GW1NR-LV9QN88PC6/I5" --family GW1N-9C --cst verilog/fpga/tests/memory/tangnano9k.cst
        gowin_pack -d GW1N-9C -o verilog/fpga/tests/memory/memory.fs verilog/fpga/tests/memory/memory.pnr
