# Test $d

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Cpan
      run: |
        sudo cpan install -T Data::Dump Data::Table::Text

    - name: Zero Emulator
      run: |
        perl lib/Zero/Emulator.pm

    - name: Zero NWayTree
      run: |
        perl lib/Zero/NWayTree.pm

    - name: Zero testEmulator
      run: |
        perl examples/testEmulator.pl

    - name: Zero testNWayTree
      run: |
        perl examples/testNWayTree.pl

    - name: Zero selectionSort
      run: |
        perl examples/selectionSort.pl


  testWindows:
    runs-on: windows-latest

    defaults:
      run:
        shell: wsl-bash {0}                                                     # Use Windows Services For Linux as the command line in subsequent steps

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - uses: Vampire/setup-wsl@v2                                                # Install Windows Services For Linux - just: wsl --install -D Ubuntu

    - name: Ubuntu
      run: |
        sudo apt-get -y update

    - name: Configure Ubuntu
      run: |
        sudo apt-get -y install build-essential

    - name: Cpan
      run: |
        sudo cpan install -T Data::Dump Data::Table::Text

    - name: Zero Emulator
      run: |
        perl lib/Zero/Emulator.pm

    - name: Zero NWayTree
      run: |
        perl lib/Zero/NWayTree.pm

    - name: Zero testEmulator
      run: |
        perl examples/testEmulator.pl

    - name: Zero testNWayTree
      run: |
        perl examples/testNWayTree.pl

    - name: Zero selectionSort
      run: |
        perl examples/selectionSort.pl

