# Test 2023-05-23 at 23:44:01

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Cpan
      run: |
        sudo cpan install -T Data::Dump Data::Table::Text

    - name: Emulator
      run: |
        perl lib/Zero/Emulator.pm

    - name: NWayTree
      run: |
        perl lib/Zero/NWayTree.pm

    - name: TestEmulator
      run: |
        perl examples/testEmulator.pl

    - name: TestNWayTree
      run: |
        perl examples/testNWayTree.pl

    - name: BubbleSort
      run: |
        perl examples/bubbleSort.pl

    - name: InsertionSort
      run: |
        perl examples/insertionSort.pl

    - name: QuickSort
      run: |
        perl examples/quickSort.pl

    - name: QuickSort Parallel
      run: |
        perl examples/quickSortParallel.pl

    - name: SelectionSort
      run: |
        perl examples/selectionSort.pl

