# Test 2023-06-02 at 21:38:53

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Cpan
      run:  sudo cpan install -T Data::Dump Data::Table::Text

    - name: Ubuntu update
      run:  sudo apt update

    - name: Verilog
      run:  sudo apt -y install iverilog

    - name: Verilog Version
      run:  iverilog -V

    - name: fpga
      run:  rm -f fpga; iverilog -g2012 -o fpga verilog/fpga.sv && timeout 1m ./fpga

    - name: Emulator
      run:  perl lib/Zero/Emulator.pm

    - name: BubbleSort
      run:  perl examples/bubbleSort.pl

    - name: InsertionSort
      run:  perl examples/insertionSort.pl

    - name: QuickSort
      run:  perl examples/quickSort.pl

    - name: QuickSort Parallel
      run:  perl examples/quickSortParallel.pl

    - name: SelectionSort
      run:  perl examples/selectionSort.pl

    - name: TestEmulator
      run:  perl examples/testEmulator.pl

    - name: BTree
      run:  perl lib/Zero/BTree.pm

    - name: TestBTree
      run:  perl examples/testBTree.pl

